* {
  box-sizing: border-box;
}

body {
  font-family: monospace;
  background: black;
  color: whitesmoke;
  text-align: left;
}

header {
  padding: 10px;
  margin: 5px 0px ;
  text-align: center;
  background: rgb(32, 32, 32);
}

aside {
  font-size: 70%;
  margin: 5px 0px ;
  padding: 10px;
  float: left;
  width: 25%;
  background: rgb(32, 32, 32);
}

main {
  margin: 10px 0px ;
  padding: 20px;
  float: right;
  width: 75%;
  background: rgb(15, 15, 15);
}
